@model IEnumerable<EmployeeDTO>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 col-xs-12 col-sm-12">
    <div class="portlet light">

        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-dark hide"></i>
                <span class="caption-subject font-hide bold uppercase">Recent Users</span>
            </div>
            <div class="actions">
                <div class="btn-group">
                    <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        Actions
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a asp-action="AddEmployee">Çalışan Ekle</a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a href="javascript:;">Option 2</a>
                        </li>
                        <li>
                            <a href="javascript:;">Option 3</a>
                        </li>
                        <li>
                            <a href="javascript:;">Option 4</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                @foreach (var emp in Model)
                {
                    <div class="col-md-3">

                        <div class="mt-widget-1">
                            <div class="mt-icon">
                                <a asp-action="AddEmployee">
                                    <i class="icon-plus"></i>
                                </a>
                            </div>
                            <div class="mt-img">
                                <img src="../assets/pages/media/users/avatar80_8.jpg">
                            </div>
                            <div class="mt-body">
                                <h3 class="mt-username">@emp.Name @emp.Surname</h3>
                                <p class="mt-user-title"> Lorem Ipsum is simply dummy text. </p>
                                <div class="mt-stats">
                                    <div class="btn-group btn-group btn-group-justified">
                                        <a href="/Employee/EditEmployee?id=@emp.Id" class="btn font-red">
                                            <i class="icon-bubbles"></i> Detay
                                        </a>
                                        <a href="javascript:;" class="btn font-green">
                                            <i class="icon-social-twitter"></i>
                                        </a>
                                        <a asp-action="DeleteEmployee" asp-route-id="@emp.Id" class="btn font-yellow">
                                            <i class="glyphicon glyphicon-trash">Sil</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>